body {
    font-family: 'Nunito', sans-serif;
    background-color: #FAF6EA;
}


.sample-gallery h1 {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    font-style: normal;
    color:#5471BC;
    font-size: 1.4rem;
}


.padding{
    margin-bottom: 6rem;
}

.image-section a{
    display: inline-block;
    width: 100%;
    margin: 0;
    height: auto;
}

.image-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    justify-items: center;
}

.sample img {
    max-height: 450px;  
    width: 100%;
    height: 100%;     
    object-fit: cover;
    object-position: top;
}

.sample-gallery {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding: 70px;
}


.expand a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.expand a:hover{
    color:#5471BC;

}

a:hover img{
    filter: brightness(50%);
    transition-property: filter;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

a:hover .hover-text {
    opacity: 1;
    color: #5471BC;
}

.hover-text{
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 2;
    opacity: 0;
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3.2rem;
    transition: opacity 0.3s ease;
}

.image-text-container {
    display: inline-block;
    position: relative;
    max-height: 300px;  
    width: 100%;
    height: auto;   
}

.sample img {
    max-height: 300px;  
    width: 100%;
    height: auto;     
    object-fit: cover;
    object-position: top;
    z-index: 1;
}

.image-text-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 246, 234, 0);
    z-index: 1;
    transition: background-color 0.3s ease;
}

.image-text-container:hover::before {
    background-color: rgba(250, 246, 234, 1);
}

#navbar a.active {
    color: #5377d3;
}



/* ---------------------------------------------- for header */




#navbar {
    background-color: #FAF6EA;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    top: -17px;
    left: 0;
    padding-top: 25px;
        
    margin-right: 0;

    height: 100px;
    justify-content: center;

    /* animation when appearing and disappearing (affected by scrolling) */
    opacity: 1;
    transition: opacity 0.15s linear;
    
    /* ADJUST BASED ON Z-INDEX OF THE REST OF WEBPAGE (ALWAYS MAKE IT 1 HIGHER) */
    z-index: 3;
}




/* Centers PC display using padding */
.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    padding-left: 8px;    
    box-sizing: border-box;
    height: 100px;


}




#navHead {
    margin: 0;
    font-size: clamp(32px, 2vw, 64px); 
    color: #5471BC;
    font-weight: normal;
    
}




/* PC DISPLAY */
#navList {    
    display: flex;


    list-style: none;
    margin-left: auto;
    padding: 0;




    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75%;
    margin-right: 27px;
    position: relative;
    right: -4.8vw;
}




#navList li {
    width: 16.666%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
}
/* ADDRESSES ONLY IN PC DISPLAY */
#navList a {
    font-size: clamp(14px, 0.8vw, 16px);
    white-space: normal;   /* allows text to wrap */
    word-break: break-word; /* breaks long words */
    font-weight: 500;
}


/* MOBILE DISPLAY */
#navbarMob {
    margin-left: auto;
    position: relative;
    width: 100px;
    height: 100%;
    display: none; /* keeps mobile hidden until @media requirements met */
    top: -7px;
}
/* button */
#menuButton {
    width: 100%;
    height: 100%;
    font-size: 3em;
    border: none;
    font-weight: 400;
    background-color: #FAF6EA;
   
}
/* hidden list until button clicked */
#listDown {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
    /* beginning of animation (hidden and expands downwards) */
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;

    width: 300px;
    
    box-sizing: border-box;

    right: 199px;
    top: -9px;
    padding: 0;

    z-index: 1;
    background-color: #FAF6EA;




}
/* slide down animation */
#listDown.active {
    max-height: 40vh;
}




#listDown li {
    border: 1px solid black;
    width: 100%;
    height: calc(40vh/6);
    box-sizing: border-box;
}




/* DETERMINES WHETHER MOBILE OR PC DISPLAY (if screen is less than 1100px then transitions to mobile) */
@media (max-width: 1200px) {
    #navList {
        display: none;
    }
    #navHead {
        font-size: 5vw;
    }
    #navbarMob {
        display: block;
    }
}




/* SELECTS ALL LINKS IN NAVBAR */
#navbar a {
    text-decoration: none;
    color: black;




    padding: 0 5px;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}




/* LINK STYLING FOR NAVBAR (TEMPORARY) */
#navbar a:hover {
    color: #4874E3;
}
