
/* ----------------------------------------------
   Titles of each gallery section
---------------------------------------------- */
.main h1 {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    font-style: normal;
    color: var(--default-Blue);
    font-size: 1.4rem;
}
.sample:not(:last-of-type) {
    margin-bottom: 10rem;
}

/* ----------------------------------------------
   Only for Visual Development section for subpage links
---------------------------------------------- */
.image-section>a{
    display: inline-block;
    width: 100%;
    height: auto;
}
.hover-text{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--default-Blue);
    font-size: 3vw;
    opacity: 0;
    background-color: var(--default-Background);
    transition: var(--standard-Transition);
}

/* contains the text when hovering over */
.image-text-container {
  position: relative;    /* needed for .hover-text absolute positioning */
  width: 100%;
  aspect-ratio: auto;  /* makes the box keep the 16:9 ratio */
  overflow: hidden;      /* ensures object-fit:cover crops to the box */
}
.image-text-container img {
  display: block;        /* removes inline gaps */
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: cover;     /* cover the box, cropping if needed */
  
}
.image-text-container:hover .hover-text {
    opacity: 1;
    transition: var(--standard-Transition);

}
.image-text-container > a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

/* ----------------------------------------------
   Container for 4 images in grid
---------------------------------------------- */
.image-section{
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-items: stretch;
}

.sample img {
    width: 100%;         /* make them fill width of grid cell */
    height: 100%;        /* natural aspect ratio */
    object-fit: cover;
}

/* ----------------------------------------------
   "see all" text container
---------------------------------------------- */
.expand a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.expand a:hover{
    color:var(--default-Blue);
    
}

@media (max-width: 1200px) {
    .image-section {
        grid-template-columns: 1fr;
    }
}

