
/* ----------------------------------------------
   Titles of each gallery section
---------------------------------------------- */
.main h1 {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    font-style: normal;
    color: var(--default-Blue);
    font-size: 1.4rem;
}

/* ----------------------------------------------
   Spacing between gallery sections
---------------------------------------------- */
.padding{
    margin-bottom: 6rem;
}

/* ----------------------------------------------
   Only for Visual Development section for subpage links
---------------------------------------------- */
.image-section a{
    display: inline-block;
    width: 100%;
    margin: 0;
    height: auto;
}
.hover-text{
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 2;
    opacity: 0;
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    color: var(--default-Blue);
    background-color: var(--default-Background);
    font-size: 3vw;
    transition: var(--standard-Transition);
}

/* contains the text when hovering over */
.image-text-container {
    position: relative;
    width: 100%;

}

.image-text-container:hover .hover-text {
    opacity: 1;
    transition: var(--standard-Transition);

}

/* ----------------------------------------------
   Container for 4 images in grid
---------------------------------------------- */
.image-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    justify-items: center;
}

.sample img {
    height: 100%;     
    object-fit: cover;
    min-height: 30vh;
    aspect-ratio: 16/9;
    
}

/* ----------------------------------------------
   "see all" text container
---------------------------------------------- */
.expand a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.expand a:hover{
    color:var(--default-Blue);
    
}



