/* Holds the variables for common styling components for each page */
/* makes it easier to make large changes across multiple pages */

/* ----------------------------------------------
   Global Resets & Base Styles
---------------------------------------------- */
:root {
    --default-Background: #FAF6EA;
    --default-Blue: rgb(20, 71, 105);
    --standard-Transition: opacity 0.2s ease;
}
body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--default-Background);
}
html, body {
    min-height: 300px; /* cannot shrink more than this */
}
.main {
    width: 85%;
    margin: 150px auto 225px auto;
    padding: 70px;

}

/* ---------------------------------------------- DEFAULT SOCIAL ICON STYLING */


.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;   
}
.socials a {
    width: 30px;
    height: 30px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.socials img:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(66%) saturate(6139%) hue-rotate(204deg) brightness(87%) contrast(88%);
    opacity: 1;

}
.socials>a>img {
    opacity: 0.5;
}
/* ---------------------------------------------- DEFAULT NAVBAR STYLING */

/*visual development dropdown section*/
#visDevNav {
    position: relative;
}
#visDevNav:hover #visualDev-dropdown {
    max-height: 320px;
    opacity: 1;
    transition: all 0.3s ease;
    box-shadow: 0 0 1px 1px var(--default-Blue);
}
#visualDev-dropdown {
    opacity: 0;
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--default-Background);
    transition: all 0.3s ease;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    max-height: 0;
    overflow: hidden;
    z-index: 5;
}

#visualDev-dropdown>li {
    list-style: none;
    width: 11vw;       /* take full width of dropdown */
    display: flex;     
    align-items: center; /* vertically center content */
    justify-content: center; /* horizontally center content */
    box-sizing: border-box;
    position: relative;
    left: -19.5px;
    min-height: 80px;
}
#visualDev-dropdown>li>a {
    text-align: center;
    box-sizing: border-box;
    min-height: 80px;  /* minimum height for readability */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 -1px 0 0 var(--default-Blue);
}

#navbar a.active {
    color: var(--default-Blue);
}
#navbar {
    background-color: var(--default-Background);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    top: -17px;
    left: 0;
    padding-top: 25px;
        
    margin-right: 0;

    height: 100px;
    justify-content: center;

    /* animation when appearing and disappearing (affected by scrolling) */
    opacity: 1;
    transition: opacity 0.15s linear;
    
    /* ADJUST BASED ON Z-INDEX OF THE REST OF WEBPAGE (ALWAYS MAKE IT 1 HIGHER) */
    z-index: 3;
}

/* Centers PC display using padding */
.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    padding-left: 8px;    
    box-sizing: border-box;
    height: 100px;


}
@font-face {
  font-family: 'Eurostile';
  src: url('fonts/Eurostile.woff2') format('woff2'),
       url('fonts/Eurostile.woff') format('woff'),
       url('fonts/Eurostile.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
#navHead {
    margin: 0;
    font-size: clamp(32px, 2vw, 64px); 
    color: var(--default-Blue);
    font-weight: bold;
    font-family: 'Eurostile', sans-serif;
    
}

/* PC DISPLAY */
#navList {    
    display: flex;


    list-style: none;
    margin-left: auto;
    padding: 0;




    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75%;
    margin-right: 27px;
    position: relative;
    right: -4.8vw;
}

#navList>li {
    width: 16.666%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    position: relative;
}
/* ADDRESSES ONLY IN PC DISPLAY */
#navList a {
    font-size: clamp(14px, 0.8vw, 16px);
    white-space: normal;   /* allows text to wrap */
    word-break: break-word; /* breaks long words */
    font-weight: 500;
}


/* MOBILE DISPLAY */
#navbarMob {
    margin-left: auto;
    position: relative;
    width: 100px;
    height: 100%;
    display: none; /* keeps mobile hidden until @media requirements met */
    top: -7px;
}
/* button */
#menuButton {
    width: 100%;
    height: 100%;
    font-size: 3em;
    border: none;
    font-weight: 400;
    background-color: var(--default-Background);
   
}
/* hidden list until button clicked */
#listDown {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
        box-shadow: 0 0 1px 1px var(--default-Blue);

    /* beginning of animation (hidden and expands downwards) */
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease;
    opacity: 0;

    width: 300px;
    
    box-sizing: border-box;

    right: 199px;
    top: -9px;
    padding: 0;

    z-index: 1;
    background-color: var(--default-Background);

}
/* slide down animation */
#listDown.active {
    max-height: 40vh;
    opacity: 1;
    transition: all 0.3s ease;
}

#listDown li {
    box-shadow: 0 0 1px 1px var(--default-Blue);
    width: 100%;
    height: calc(40vh/6);
    box-sizing: border-box;
    min-height: 30px;
}

/* DETERMINES WHETHER MOBILE OR PC DISPLAY (if screen is less than 1100px then transitions to mobile) */
@media (max-width: 1200px) {
    #navList {
        display: none;
    }
    #navHead {
        font-size: 5vw;
        margin-left: 2vw;
    }
    #navbarMob {
        display: block;
    }
}

/* SELECTS ALL LINKS IN NAVBAR */
#navbar a {
    text-decoration: none;
    color: black;




    padding: 0 5px;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* LINK STYLING FOR NAVBAR (TEMPORARY) */
#navbar a:hover {
    color: var(--default-Blue);
}